{% extends 'base.html' %}

{% block content %}

<div ng-controller="expensesController">
    <h2>Entradas</h2>

    <div ng-repeat='expense in expenses'>
        <ul>
            <li>Preço: R$ {[{ expense.value }]}</li>
            <li>Categoria: {[{ expense.category_display }]}</li>
            <li>Data: {[{ expense.date }]}</li>
            <button><a href="{[{ expense.resource_url }]}">Visualizar</a></button>
            <button><a href="{[{ expense.resource_url }]}">Remover</a></button>
        </ul>
    </div>
</div>

{% endblock %}
